@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');



*, *::before, *::after {
    margin:0;
    box-sizing: border-box;
}


body {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 600;
    font-style: normal;
    background: url('anthony-delanoix-hzgs56Ze49s-unsplash.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.keys{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.key{
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 4px solid black;
    justify-content: space-between;
    margin: 0.2rem 0.4rem;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.09s;
    text-shadow: 0 0 5px black;
    color: white;
    letter-spacing: 0.3ch;
}

.key span{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 4px;
    color: #ffc600;
}

.key kbd{
    font-size: 1.8rem;
    text-transform: uppercase;
}

.playing{
    transform: scale(1.2);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}



